study-godot-cpp/.sconsign.dblite
study-godot-cpp/src/register_types.os
study-godot-cpp/demo/main.gd.uid
study-godot-cpp/src/gdexample.os
study-godot-cpp/demo/icon.svg.import
**/*~
.vscode
*/build
*/.vscode
**/*.pdb
*.bak
